img{
   margin: auto; 
  display:block; 
  width: 300px;
}
p{
   text-align: center; 
   color: #0099ff;
   font-weight: 600;
}
h2{
   text-align: center; 
   color: #00cca3;
}
h1{
   text-align: center; 
   color: #45d3e0;
}
